# ==============================
# Python
# ==============================

__pycache__/
*.py[cod]
*.pyo

# ==============================
# Virtual Environment
# ==============================

.venv/
venv/
env/

# ==============================
# Environment Variables / Secrets
# ==============================

.env
*.env

# ==============================
# IDE
# ==============================

.vscode/
.idea/

# ==============================
# OS Files
# ==============================

.DS_Store
Thumbs.db

# ==============================
# Logs
# ==============================

*.log

# ==============================
# Node / Frontend
# ==============================

node_modules/
dist/

# ==============================
# Temporary Files
# ==============================

*.tmp
*.temp